LNCDCDSS/LNCDCDSS/Web References/LocalAQLExecute/AQLExecuteImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.adr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AQLExecuteImplService" targetNamespace="http://ws.adr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ns0="http://jaxb.dev.java.net/array" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.adr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://jaxb.dev.java.net/array" />
      <xs:element name="delete" type="tns:delete" />
      <xs:element name="deleteResponse" type="tns:deleteResponse" />
      <xs:element name="insert" type="tns:insert" />
      <xs:element name="insertResponse" type="tns:insertResponse" />
      <xs:element name="reconfigure" type="tns:reconfigure" />
      <xs:element name="reconfigureResponse" type="tns:reconfigureResponse" />
      <xs:element name="registerArchetype" type="tns:registerArchetype" />
      <xs:element name="registerArchetypeResponse" type="tns:registerArchetypeResponse" />
      <xs:element name="registerArm" type="tns:registerArm" />
      <xs:element name="registerArmResponse" type="tns:registerArmResponse" />
      <xs:element name="select" type="tns:select" />
      <xs:element name="selectResponse" type="tns:selectResponse" />
      <xs:element name="update" type="tns:update" />
      <xs:element name="updateResponse" type="tns:updateResponse" />
      <xs:complexType name="update">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insert">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insertResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="token">
        <xs:sequence>
          <xs:element name="kind" type="xs:int" />
          <xs:element name="beginLine" type="xs:int" />
          <xs:element name="beginColumn" type="xs:int" />
          <xs:element name="endLine" type="xs:int" />
          <xs:element name="endColumn" type="xs:int" />
          <xs:element minOccurs="0" name="image" type="xs:string" />
          <xs:element minOccurs="0" name="next" type="tns:token" />
          <xs:element minOccurs="0" name="specialToken" type="tns:token" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reconfigure">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="reconfigureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="select">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="selectResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registerArm">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registerArmResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registerArchetype">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registerArchetypeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="errorType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MISSING" />
          <xs:enumeration value="BAD_INDEX" />
          <xs:enumeration value="BAD_FORMAT" />
          <xs:enumeration value="BAD_VALUE" />
          <xs:enumeration value="TERM_MISSING" />
          <xs:enumeration value="UNKNOWN" />
          <xs:enumeration value="CARDINALITY_TOO_FEW" />
          <xs:enumeration value="CARDINALITY_TOO_MUCH" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="UnsupportedEncodingException" type="tns:UnsupportedEncodingException" />
      <xs:complexType name="UnsupportedEncodingException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="ParseException" type="tns:ParseException" />
      <xs:complexType name="ParseException">
        <xs:sequence>
          <xs:element name="currentToken" nillable="true" type="tns:token" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tokenImage" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="expectedTokenSequences" type="ns0:intArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="RMObjectBuildingException" type="tns:RMObjectBuildingException" />
      <xs:complexType name="RMObjectBuildingException">
        <xs:sequence>
          <xs:element name="errorType" nillable="true" type="tns:errorType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DADLBindingException" type="tns:DADLBindingException" />
      <xs:complexType name="DADLBindingException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="intArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="reconfigureResponse">
    <wsdl:part name="parameters" element="tns:reconfigureResponse" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="registerArm">
    <wsdl:part name="parameters" element="tns:registerArm" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="registerArchetypeResponse">
    <wsdl:part name="parameters" element="tns:registerArchetypeResponse" />
  </wsdl:message>
  <wsdl:message name="insert">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="registerArmResponse">
    <wsdl:part name="parameters" element="tns:registerArmResponse" />
  </wsdl:message>
  <wsdl:message name="reconfigure">
    <wsdl:part name="parameters" element="tns:reconfigure" />
  </wsdl:message>
  <wsdl:message name="UnsupportedEncodingException">
    <wsdl:part name="UnsupportedEncodingException" element="tns:UnsupportedEncodingException" />
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="selectResponse">
    <wsdl:part name="parameters" element="tns:selectResponse" />
  </wsdl:message>
  <wsdl:message name="select">
    <wsdl:part name="parameters" element="tns:select" />
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="registerArchetype">
    <wsdl:part name="parameters" element="tns:registerArchetype" />
  </wsdl:message>
  <wsdl:message name="ParseException">
    <wsdl:part name="ParseException" element="tns:ParseException" />
  </wsdl:message>
  <wsdl:message name="RMObjectBuildingException">
    <wsdl:part name="RMObjectBuildingException" element="tns:RMObjectBuildingException" />
  </wsdl:message>
  <wsdl:message name="DADLBindingException">
    <wsdl:part name="DADLBindingException" element="tns:DADLBindingException" />
  </wsdl:message>
  <wsdl:message name="insertResponse">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:portType name="AQLExecute">
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update" />
      <wsdl:output name="updateResponse" message="tns:updateResponse" />
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input name="insert" message="tns:insert" />
      <wsdl:output name="insertResponse" message="tns:insertResponse" />
      <wsdl:fault name="DADLBindingException" message="tns:DADLBindingException" />
      <wsdl:fault name="ParseException" message="tns:ParseException" />
      <wsdl:fault name="RMObjectBuildingException" message="tns:RMObjectBuildingException" />
      <wsdl:fault name="UnsupportedEncodingException" message="tns:UnsupportedEncodingException" />
    </wsdl:operation>
    <wsdl:operation name="reconfigure">
      <wsdl:input name="reconfigure" message="tns:reconfigure" />
      <wsdl:output name="reconfigureResponse" message="tns:reconfigureResponse" />
    </wsdl:operation>
    <wsdl:operation name="select">
      <wsdl:input name="select" message="tns:select" />
      <wsdl:output name="selectResponse" message="tns:selectResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="registerArm">
      <wsdl:input name="registerArm" message="tns:registerArm" />
      <wsdl:output name="registerArmResponse" message="tns:registerArmResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerArchetype">
      <wsdl:input name="registerArchetype" message="tns:registerArchetype" />
      <wsdl:output name="registerArchetypeResponse" message="tns:registerArchetypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete" />
      <wsdl:output name="deleteResponse" message="tns:deleteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AQLExecuteImplServiceSoapBinding" type="tns:AQLExecute">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="update">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="insert">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insertResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DADLBindingException">
        <soap:fault use="literal" name="DADLBindingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ParseException">
        <soap:fault use="literal" name="ParseException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RMObjectBuildingException">
        <soap:fault use="literal" name="RMObjectBuildingException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault use="literal" name="UnsupportedEncodingException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reconfigure">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="reconfigure">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="reconfigureResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="select">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="selectResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registerArm">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="registerArm">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="registerArmResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerArchetype">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="registerArchetype">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="registerArchetypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AQLExecuteImplService">
    <wsdl:port name="AQLExecuteImplPort" binding="tns:AQLExecuteImplServiceSoapBinding">
      <soap:address location="http://127.0.0.1:9091/adr/AQLExecute" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>